@import "tailwindcss";

body {}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
}

@keyframes popup {
    0% {
        transform: translateY(100px);
    }

    25% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100px);
    }
}

.test {
    animation: popup;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards ;
}